<h3 class="text-center">Nueva medición</h3>
 <p id="notice"><%= notice %></p>
<br>

<div class="well">
    
<%= render 'form', measurement: @measurement %>

</div>
<%= link_to 'Atras', measurements_path %>
